 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
$primary-font: #baf6ff;
$secondary-font: #ccc;
$tertiary-font: #297487;
$white-font: #fff;
$black-font: #000;

$green-buttons: #ccc; 

$primary-background: #5494a0;
$secondary-background:#baf6ff;
$tertiary-background: #e5e5e5;

$primary-border:#297487;

body {
  font-family: helvetica;
  background: $tertiary-background;
}

nav {
  position:fixed;
  margin-left: 10px;
  margin-top: 10px;

  ul {
    margin: 0 auto;
    list-style: none;
    padding: 0;
  }

  li {
    padding: 20px 10px;
    border: 2px solid $primary-border;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: $white-font;
    text-align: center;
  }

  a{
    color:$black-font;
    text-decoration: none;
    font-size: 22px;
  }
}

h1 {
  color: $black-font;
  margin-bottom: -5px;
  margin-left: 240px;
  margin-top: 5px;
  text-shadow: 2px 2px 5px #ccc;
}

h2 {
  margin-bottom: -5px;
}

.form {
  background: $primary-background;
  border-radius: 3px;
  border: 2px solid $primary-border;
  width: 35%;
  margin: 10px 0 30px 240px;
  padding-left: 20px;
  padding-bottom: 30px;
}

label {
  font-size: 18px;
}

input[type=text], input[type=email], input[type=submit] {
  -moz-appearance:none;
  -webkit-appearance: none;
  margin:0;
  padding:0;
}

input[type=text], input[type=email] {
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius:5px;
  border: 1px solid $primary-border;
  margin-bottom: -5px;
}

#button,
#updatebutton {
  padding:5px 15px; 
  background:$white-font; 
  border:1px solid $primary-border;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  margin-top:10px;
  color: $black-font;
  font-size: 18px;
}

.dropdown {
  width: 200px;
  height: 100px;
  font-size: 18px;
  padding: 10px;
}

table {
  margin: 15px 10px 15px 240px;
  border: 2px solid $primary-border;
  
  th {
    padding:10px;
    font-size: 18px;
    color: $white-font;
    background: $primary-background;
  }

  td {
    text-align: center;
    background: #fff;
    padding: 10px;
    border: 2px solid $primary-border;

    a {
      text-decoration: none;
    }

    .update,
    .delete {
      color: $white-font;
      padding: 2px;
      margin: 2px;
      background: $primary-background;
      border-radius: 5px;
      border: 2px solid $primary-border;
      box-shadow: 2px 2px 5px #ccc;
    }

  }

}

section {
  margin-top: 25px;
}




