<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Assignment_11</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
<body>
<nav>
    <ul>
        <li>
        <a href="#">Add Volunteer</a>
        </li>
        <li>
            <a class ="viewbutton" href="#">View Volunteers</a>
        </li>
    </ul>
</nav>
<h1>View Volunteers</h1>
    <section id="viewvolunteer">
        <table class="tablevolunteer">
            <th>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Phone</td>
                <td>Email</td>                
                <td>Job</td>
                <td>Changes</td>
            </th>            
        </table>
    </section>

<script id="tableInfo" type="text/template">
    <tr>
        <td><%= firstName =></td>
        <td><%= lastName =></td>
        <td><%= phone =></td>
        <td><%= email =></td>
        <td><%= job =></td>
        <td>Update</td>
    </tr>
</script>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
